body {
    font-family: 'Lexend', sans-serif !important;
    background-color: white!important;
    padding: 0;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;
}

.search {
    border: none !important;
    background: none !important;
    border-bottom: #97A8CC 1px solid !important;
    outline: none !important;
    border-radius: 0 !important;
}


.search::before {
    content: ' ';
    background-image: url('./img/Search.svg');
    background-size: 24px 24px;
    display:inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.badge {
    background: #6191F6;
    border-radius: 5px;
}

.link-task{
    text-align: right;
    font-size: 12px;
    font-weight: 700;
    margin: 6px 0;
}

.link-task > a {
    text-decoration: none;
    vertical-align: middle;
}

.link-task::before {
    content: ' ';
    background-image: url('./img/Paper.svg');
    background-size: 24px 24px;
    display:inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.sidebar {
    /* Side Bar */

    /* position: absolute;
    width: 184px;
    height: 324px;
    left: 120px;
    top: 40px; */

    width: fit-content !important;

    /* Card_background */
    background: #F4F7FE;
    border-radius: 10px;
}

.sidebar .btn span, .topbar .btn span {
    text-align: left;
    vertical-align: middle;
}

.sidebar .btn svg, .topbar .btn svg {
    margin: 0 12px 0 0;
}

.sidebar .btn:active, .topbar .btn:active {
    color: #2164F1;

}

.sidebar .btn:focus {
    color: #2164F1;
}

.sidebar .btn {
    width: 100%;
    text-align: left;
    border-radius: 10px;
}

.btn-sc {
    border-radius: 10px !important;
}

.sidebar .btn:hover, .btn-sc:hover {
   background-color: #ffffff;
}

.btn-right svg {
    margin: 0 0 0 12px !important;
}


.account-label::before {
    content: ' ';
    background-image: url('./img/Avatar.svg');
    background-size: 40px 40px;
    display:inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.topbar {
    
    /* Card_background */

    background: #F4F7FE;
    border-radius: 10px;    
}

.topbar > input[type="text"] {
    font: inherit;
    border: none;
    outline: none;
    width: 100%;
}

.card-task, .card-common{
    background: #F4F7FE;
    border-radius: 15px;
    transition: box-shadow .5s;
}

.card-task:hover {
    box-shadow: 0 0 15px rgba(33, 99, 241, 0.50);
    
}

.card-task ~ .locked:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}


.locked .svg-lock {
    margin-bottom: 2em;
}

.task-answer h1 {
    display: inline-block;
    vertical-align: middle;
}

.task-answer input {
    background: none !important;
    border: none!important;
    font-weight: 700;
    font-size: 30px;

    
}

.task-answer input::placeholder{
    font-weight: 700!important;

}



.btn-upload {
    font-weight: 700 !important;
    font-size: 18px !important;
    color:#2164F1 !important;
}


.upload-field {
        /* Blue_accent */

    border: 5px dashed #2164F1;
    box-sizing: border-box;
    border-radius: 15px;
}

.btn-pr-disabled {
    background: #7E95C6 !important;
    border-radius: 15px !important;
    color: white !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    
}

.btn span {
    vertical-align: middle;
}


.btn-pr{
    background: #2164F1 !important;
    border-radius: 15px !important;
    color: white !important;
    font-weight: 700 !important;
    font-size: 12px !important;
}

.btn-pr:hover{
    background: #1951ca !important;

}



.portfolio {
    border-radius: 15px;
    background-color: white;
    overflow: hidden!important;
}

.portfolio-part img{
    width:100%;
    padding:0;
    
}

.modal-content {
    border-radius: 15px !important;
    border:none !important;
}

.modal-header, .modal-footer{
    border: none !important;
}

.modal .link-portfolio {
    color:#2164F1;
}

.btn-close {
    background-color: rgb(19, 15, 38, .4) !important ;
    border-radius: 10px !important ;
}

@media (max-width: 1400px) {

    .sidebar{
        margin-left: 5%;
    }
    .sidebar span .s-btn-label {
        display: none  !important;
    }

    .sidebar .btn svg {
        margin:0 !important;
    }

    .account-label::before {
       
        margin-right: 0px !important;
        
    }
    
}

@media (max-width: 990px) {

    .sidebar{
        margin-left:2%;
    }
    
    
}


@media (max-width: 768px) {
    
    .sidebar{
        margin-left:0;
    }

    .card-task .col-md-6 {
        margin-top: 2em !important;
        justify-content: start !important;
    }

    .link-task{
        text-align: left;
        font-size: 12px;
        font-weight: 700;
        margin: 6px 0;
    }
    
}
