body {
    font-family: 'Lexend', sans-serif !important;
    background-color: white!important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;
}

.search {
    border: none !important;
    background: none !important;
    border-bottom: #97A8CC 1px solid !important;
    outline: none !important;
    border-radius: 0 !important;
}


.search::before {
    content: ' ';
    background-image: url('./img/Search.svg');
    background-size: 24px 24px;
    display:inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.badge {
    background: #6191F6;
    border-radius: 5px;
}

.link-task{
    text-align: right;
    font-size: 12px;
    font-weight: 700;
    margin: 6px 0;
}

.link-task > a {
    text-decoration: none;
    vertical-align: middle;
}

.link-task::before {
    content: ' ';
    background-image: url('./img/Paper.svg');
    background-size: 24px 24px;
    display:inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.sidebar {
    /* Side Bar */

    /* position: absolute;
    width: 184px;
    height: 324px;
    left: 120px;
    top: 40px; */

    width: fit-content !important;

    /* Card_background */
    background: #F4F7FE;
    border-radius: 10px;
}

.sidebar button span {
    text-align: left;
    vertical-align: middle;
}

.sidebar button svg {
    margin: 0 12px 0 0;
}

.sidebar .btn:active {
    color: #2164F1;

}

.sidebar .btn:focus {
    color: #2164F1;
}

.sidebar .btn {
    width: 100%;
    text-align: left;
}



.account-label::before {
    content: ' ';
    background-image: url('./img/Avatar.svg');
    background-size: 40px 40px;
    display:inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.topbar {
    
    /* Card_background */

    background: #F4F7FE;
    border-radius: 10px;    
}

.topbar > input[type="text"] {
    font: inherit;
    border: none;
    outline: none;
    width: 100%;
}

.card-task{
    background: #F4F7FE;
    border-radius: 15px;
}

.locked .svg-lock {
    margin-bottom: 2em;
}

@media (min-width: 1200px) {

    .sidebar .btn .span .span {
        display: none  !important;
    }
    
}


@media (max-width: 768px) {

    .card-task .col-md-6 {
        margin-top: 2em !important;
        justify-content: start !important;
    }

    .link-task{
        text-align: left;
        font-size: 12px;
        font-weight: 700;
        margin: 6px 0;
    }
    
}
